@*Shared/AccessControl.razor*@

<AuthorizeView>   
    <Authorized>
        <NavLink class="nav-link" href="logout">
            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
        </NavLink>        
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="login?redirectUri=/">
            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
        </NavLink>        
    </NotAuthorized>
</AuthorizeView>